setuptools>=39,<60
wheel
dataclasses>=0.8
pandas>=1.1.5,<1.2
numpy>=1.19.5,<1.20
matplotlib>=3.3.4,<3.4
scikit-learn>=0.24.2,<1.0
clickhouse-driver>=0.2.5,<0.2.6
pymysql>=0.9.3,<1.1
fastapi>=0.63.0,<0.79
uvicorn>=0.16.0,<0.17
pyyaml>=5.4.1,<6.0.1
